{{ define "main" }}
  <section id="index-content" class="mx-auto max-w-[88rem] px-3 py-8 md:px-6">
    {{/* Lastest Posts */}}
    {{ $allPages := .Site.Pages }}
    {{ with .Site.Params.home.showContentTypes }}
      {{ $allPages = where $allPages "Type" "in" . }}
    {{ end }}

  {{ $recommendPages := .Site.Pages }}
  {{ with .Site.Params.home.recommendedTypes }}
    {{ $recommendPages = where $recommendPages "Type" "in" . }}
  {{ end }}
  {{ $recommendPages = first 2 (where (where $recommendPages "IsPage" true ) "Params.is_recommend" true) }}
  {{ if gt ($recommendPages | len) 0 }}
    <section id="index-recommend" class="mx-auto max-w-[88rem] px-3 py-8 md:px-6">
      <div class="pb-10 pt-2 text-5xl font-bold">Artigos Recomendados pra você</div>
      <div class="grid grid-cols-1 gap-6 lg:grid-cols-3 lg:gap-x-8">
        {{ range $recommendPages }}
          <div class="flex flex-col">
            {{ partial "index_card.html" . }}
          </div>
        {{ end }}
      </div>
    </section>
  {{ end }}

{{ end }}
